@inject Menhera.Intefaces.IBoardCollection BoardCollection
@inject Menhera.Intefaces.IAdminCollection AdminCollection

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a asp-action="Panel">Главная</a>
            </li>
            <li>
                <a href="#">Список администраторов</a>
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <div class="well">
        <div class="title">
            Список администраторов
            <div class="label label-warning">@AdminCollection.Admins.Count()</div>
        </div>
        <br>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Может банить</th>
                    <th scope="col">Может закрывать треды</th>
                    <th scope="col">Может удалять посты</th>
                    <th scope="col">Есть доступ к панели</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var admin in AdminCollection.Admins)
                {
                    <tr>
                        <th scope="row">@ViewBag.Id</th>
                        <td>@admin.Email</td>
                        <td>@admin.Login</td>

                        @{ var classname = "label-default"; }

                        @if (admin.CanBanUsers)
                        {
                            classname = "label-success";
                        }
                        <td>
                            <div class="label @classname">@admin.CanBanUsers</div>
                        </td>
                        @{ classname = "label-default"; }
                        @if (admin.CanCloseThreads)
                        {
                            classname = "label-success";
                        }
                        <td>
                            <div class="label @classname">@admin.CanCloseThreads</div>
                        </td>
                        @{ classname = "label-default"; }


                        @if (admin.CanDeletePosts)
                        {
                            classname = "label-success";
                        }
                        <td>
                            <div class="label @classname">@admin.CanDeletePosts</div>
                        </td>
                        @{ classname = "label-default"; }

                        @if (admin.HasAccessToPanel)
                        {
                            classname = "label-success";
                        }
                        <td>
                            <div class="label @classname">@admin.HasAccessToPanel</div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger delete-button" id="@admin.AdminId">Удалить админа</button>
                        </td>
                    </tr>
                    {
                        ViewBag.Id++;
                    }
                }
                </tbody>
            </table>
            <br>
            <div class="pull-right">
                <a href="/Admin/Create#add-admin" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@if (ViewBag.CurrentAdmin.HasAccessToPanel)
{
    <script src="/js/admin/removeAdmin.js"></script>
}
</body>
</html>
