@inject Menhera.Intefaces.IBoardCollection BoardCollection
@inject Menhera.Intefaces.IAdminCollection AdminCollection

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a asp-action="Panel">Главная</a>
            </li>
            <li>
                <a href="#">Список досок</a>
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <div class="well">
        <div class="title">
            Список досок
            <div class="label label-warning">@BoardCollection.Boards.Count()</div>
        </div>
        <br>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Префикс</th>
                    <th scope="col">Постфикс</th>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Можно ставить своё имя</th>
                    <th scope="col">Стандартное имя для анона</th>
                    <th scope="col">Разрешена тема</th>
                    <th scope="col">Разрешены файлы</th>
                    <th scope="col">Лимит на файлы</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var board in BoardCollection.Boards)
                {
                    <tr>
                        <th scope="row">@ViewBag.Id</th>
                        <td>@board.Prefix</td>
                        <td>@board.Postfix</td>
                        <td>@board.Title</td>
                        <td>@board.Description</td>
                        @{ var classname = "label-default"; }

                        @if (board.AnonHasNoName)
                        {
                            classname = "label-success";
                        }
                        <td>
                            <div class="label @classname">@board.AnonHasNoName</div>
                        </td>
                        <td>@board.AnonName</td>
                        @{ classname = "label-default"; }
                        @if (board.HasSubject)
                        {
                            classname = "label-success";
                        }
                        <td>
                            <div class="label @classname">@board.HasSubject</div>
                        </td>
                        @{ classname = "label-default"; }


                        @if (board.FilesAreAllowed)
                        {
                            classname = "label-success";
                        }
                        <td>
                            <div class="label @classname">@board.FilesAreAllowed</div>
                        </td>
                        <td>
                            <div>@board.FileLimit</div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger delete-board-button" id="db-@board.BoardId">Удалить доску</button>
                        </td>
                    </tr>
                    {
                        ViewBag.Id++;
                    }
                }
                </tbody>
            </table>
            <br>
            <div class="pull-right">
                <a asp-action="Create" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script src="/js/board/removeBoard.js"></script>
</body>
</html>