@using Menhera.Classes.Anon
@inject Menhera.Intefaces.IBoardCollection BoardCollection
@inject Menhera.Intefaces.IAdminCollection AdminCollection

@{
    ViewBag.Title = "Поиск";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
    <div class="to-main">
        <a asp-action="Main" asp-controller="MainPage">
            На башорг!
        </a>
    </div>
    <div class="board">
        /@ViewBag.Board.Prefix/<span class="postfix">@BoardCollection.PrePostFixes.First(pair => pair.Key == ViewBag.Board.Prefix).Value</span>
    </div>
    <div class="title">
        @ViewBag.Board.Title
        <div class="description">
            @ViewBag.Board.Description
        </div>
    </div>
</header>
<section>
    <div class="form">
        @using (Html.BeginForm("Search", "Thread", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <input name="threadId" type="hidden" value="@ViewBag.Thread.ThreadId">
            <input name="query" placeholder="Поиск" class="field full-email">
            <input type="submit" value="Найти" class="field submit">
        }
    </div>
    <div class="functional-menu">
        <a asp-controller="Board" asp-action="Board" asp-route-prefix="@ViewBag.Board.Prefix">
            ← К доске
        </a>
        <a asp-controller="Thread" asp-action="Thread" asp-route-id="@ViewBag.Thread.ThreadId">
                    ← К треду
                </a>
        <a asp-controller="MainPage" asp-action="Main">Главная</a>
        <hr>
    </div>
</section>
<div class="posts threads">
    @foreach (var postFiles in ViewBag.PostsFiles)
    {
        <span id="@postFiles.Key.PostId">
            @{
                var className = "post";
                if (postFiles.Key.AnonIpHash == ViewBag.UserIpHash)
                {
                    className = "your-post";
                }
            }
            <article class="@className" id="post-@postFiles.Key.PostId">
                <div class="thread-header">
                    @{
                        if (!string.IsNullOrEmpty(postFiles.Key.Subject))
                        {
                            <span class="subject">
                                @postFiles.Key.Subject
                            </span>
                        }
                        if (postFiles.Key.AnonIpHash == ViewBag.Thread.OpIpHash)
                        {
                            <span style="color: green; ">
                                #OP
                            </span>
                        }
                        if (!string.IsNullOrEmpty(postFiles.Key.AnonName))
                        {
                            if (!string.IsNullOrEmpty(postFiles.Key.Email))
                            {
                                <span class="name">
                                    <a href="mailto:@postFiles.Key.Email">
                                        @Html.Raw(postFiles.Key.AnonName)
                                    </a>
                                </span>
                            }
                            else
                            {
                                @Html.Raw(postFiles.Key.AnonName)
                            }
                        }
                        <i></i>
                        @DateTimeOffset.FromUnixTimeSeconds(postFiles.Key.TimeInUnixSeconds).DateTime
                        <i></i>
                        <a href="/Thread/Thread/@postFiles.Key.ThreadId#@postFiles.Key.PostId">#@postFiles.Key.PostId</a>
                        <div class="dropdown" id="options">
                            @{ ViewBag.Id += 1; }
                            <a style="padding: 4px;">
                                Ответ
                            </a>
                            <button class="optionsButton" id="optionsButton-@ViewBag.Id">▶</button>
                            <div class="optionsList" id="optionsList-@ViewBag.Id">
                                <a asp-controller="Report" asp-action="Report" asp-route-postId="@postFiles.Key.PostId" style="padding-left: 4px;">
                                    Репорт
                                </a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <br>
                                    <a class="deletePost" id="deleteLink-@ViewBag.Id" style="padding: 4px;">
                                        Удалить пост
                                    </a>
                                    <input class="deleteInput" id="deleteInput-@ViewBag.Id" type="hidden" value="@postFiles.Key.PostId">
                                    <br>
                                    <a class="open-button" id="open-button-@ViewBag.Id" style="padding-left: 4px;">
                                        Забанить
                                    </a>
                                    <div class="form-popup form-container" id="myForm-@ViewBag.Id">
                                        <button type="button" class="close-button" id="close-button-@ViewBag.Id">X</button>
                                        <h1 class="popup-title"> (。U ω U。) Причина</h1>
                                        <textarea class="report-reason" id="report-reason-@ViewBag.Id" required></textarea>
                                        <div class="popup-banTime">
                                            Окончанние бана:
                                            <input type="text" class="banCalendar" id="banCalendar-@ViewBag.Id" required>
                                        </div>
                                        <input type="hidden" class="banIpHash" id="banIpHash-@ViewBag.Id" value="@postFiles.Key.AnonIpHash">
                                        <button type="submit" class="report-btn" id="report-btn-@ViewBag.Id">Забанить</button>
                                    </div>
                                }
                            </div>
                        </div>
                        if (postFiles.Key.IsPinned)
                        {
                            <img src="images/pinned.png" alt="pinned.png">
                        }
                        foreach (var file in postFiles.Value)
                        {
                            <figure>
                                <figcaption>
                                    <a href="/images/@file.FileName" title="@file.FileName" target="_blank">
                                        @file.ThumbnailName
                                    </a>
                                    <br>
                                    @file.Info
                                </figcaption>
                                <a href="/images/@file.FileName" target="_blank">
                                    <img src="/thumbnails/@file.ThumbnailName" alt="@file.ThumbnailName">
                                </a>
                            </figure>
                        }
                        <div class="comment">
                            <span style="white-space: pre-line">@Html.Raw(postFiles.Key.Comment)</span>
                        </div>
                    }
                </div>
            </article>
        </span>
    }
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js" integrity="sha512-s5u/JBtkPg+Ff2WEr49/cJsod95UgLHbC00N/GglqdQuLnYhALncz8ZHiW/LxDRGduijLKzeYb7Aal9h3codZA==" crossorigin="anonymous"></script>

@if (User.Identity.IsAuthenticated)
{
    <script src="/js/moderation.js"></script>
    <script src="/js/banPopup.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/thread/closeThread.js"></script>
    <script src="/js/thread/removeThread.js"></script>
}
<script src="/js/formValidation.js"></script>
<script src="/js/postMenuPopup.js"></script>
</body>