@using Menhera.Classes
@model Post
@inject Menhera.Intefaces.IBoardCollection BoardCollection
@inject Menhera.Intefaces.IAdminCollection AdminCollection


@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="css/site.css">
    <title>@ViewBag.Board.Title</title>
</head>
<body>
<header>
    <div class="to-main">
        <a asp-action="Main" asp-controller="MainPage">
            На башорг!
        </a>
    </div>
    <div class="board">
        /@ViewBag.Board.Prefix/<span class="postfix">@BoardCollection.PrePostFixes.First(pair => pair.Key == ViewBag.Board.Prefix).Value</span>
    </div>
    <div class="title">
        @ViewBag.Board.Title
        <div class="description">
            @ViewBag.Board.Description
        </div>
    </div>
</header>
<section>
    <div class="form" style="margin-bottom: 17px">
        <!-- TODO: Добавить проверку забанен ли юзер -->
        <form enctype="multipart/form-data" method="post">
            <input type="hidden" name="parent" value=""> <!--TODO: В value отправлять id треда -->
            @{
                if (ViewBag.Board.AnonHasNoName)
                {
                    <input asp-for="Email" type="email" name="email" placeholder="Email" autocomplete="off" class="field full-email">
                }
                else
                {
                    <input asp-for="Email" type="email" name="email" placeholder="Email" autocomplete="off" class="field email">
                    <input asp-for="AnonName" type="text" name="name" placeholder="Имя" autocomplete="off" class="field email">
                }
                <input type="submit" value="Пост" class="field submit">
            }
            
            @{
                if (ViewBag.Board.HasSubject)
                {
                    <input asp-for="Subject" type="text" name="subject" placeholder="Тема" autocomplete="off" class="field">
                }
                <textarea asp-for="Comment" name="comment" placeholder="( . .)φ__" class="field comment"></textarea>
                if (ViewBag.Board.FilesAreAllowed)
                {
                    <input asp-for="File" type="file" name="files[]" multiple class="field">
                }
                <input type="checkbox" name="op" value="1" id="op">
                <label for="op">
                    оп
                </label>
            }
        </form>
    </div>
    <div class="functional-menu">
        <a asp-controller="MainPage" asp-action="Main">Главная</a>
        <a asp-controller="Board" asp-action="Search" asp-route-prefix="@ViewBag.Board.Prefix">Поиск</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Admin" asp-action="Panel">Управление</a>
        }
    </div>
    <div class="threads">
        @foreach (var thread in ViewBag.ThreadPosts.Keys)
        {
            <span id="@thread.ThreadId">
                <article>
                    <div class="thread-header">
                        @{ 
                            ViewBag.ThreadPosts.TryGetValue(thread, out List<Post> br);
                            foreach (var post in br)
                            {
                                if (!string.IsNullOrEmpty(post.Subject))
                                {
                                    <div class="subject">
                                        @post.Subject
                                    </div>
                                }
                                if (post.AnonIpHash == ViewBag.UserIp)
                                {
                                    <span class="your-thread">
                                    </span>
                                }
                                if (!string.IsNullOrEmpty(post.Email) && !string.IsNullOrEmpty(post.AnonName))
                                {
                                    <span class="name">
                                        <a href="mailto:@post.Email">
                                            @post.AnonName
                                        </a>
                                    </span>
                                }
                                else if (!string.IsNullOrEmpty(post.AnonName))
                                {
                                    <span class="name">
                                        @post.AnonName
                                    </span>
                                }
                                if (post.AnonIpHash == thread.OpIpHash)
                                {
                                    <span style="color: green; ">
                                        #OP
                                    </span>
                                }
                                if (IpCheck.IpBelongsToAdmin(post.AnonIpHash, AdminCollection.Admins, out var admin))
                                {
                                    @admin.Login
                                }
                                @post.Time
                                <a asp-controller="Board" asp-action="Thread" asp-route-id="@thread.ThreadId">
                                    @thread.ThreadId
                                </a>
                                <a asp-controller="Board" asp-action="Report" asp-route-postId="@post.PostId">
                                    Репорт
                                </a>
                                if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="Admin" asp-action="Panel">
                                        Модерировать
                                    </a>
                                }
                            }
                            
                        }
                    </div>
                </article>
            </span>
        }
    </div>
</section>
</body>
