@using Menhera.Classes.Anon
@model Post
@inject Menhera.Intefaces.IBoardCollection BoardCollection
@inject Menhera.Intefaces.IAdminCollection AdminCollection


@{
    Layout = "_Layout";
}
<head>
    <title>@ViewBag.Board.Title</title>
</head>
<body>
<header>
    <div class="to-main">
        <a asp-action="Main" asp-controller="MainPage">
            На башорг!
        </a>
    </div>
    <div class="board">
        /@ViewBag.Board.Prefix/<span class="postfix">@BoardCollection.PrePostFixes.First(pair => pair.Key == ViewBag.Board.Prefix).Value</span>
    </div>
    <div class="title">
        @ViewBag.Board.Title
        <div class="description">
            @ViewBag.Board.Description
        </div>
    </div>
</header>
<section>
    @if (ViewBag.UserIsBanned)
    {
        <div style="text-align: center;">
            <h1 >Вы забанены</h1>
            <h2>По причине: @ViewBag.BanReason</h2>
            <h2>Конец бана: @ViewBag.BanEnd</h2>
        </div>
    }
    else
    {
        <div class="form" style="margin-bottom: 17px">
            @using (Html.BeginForm("AddThread", "Board", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                if (ViewBag.Board.AnonHasNoName)
                {
                    <input asp-for="Email" type="text" name="email" placeholder="Email" autocomplete="off" class="field full-email">
                }
                else
                {
                    <input asp-for="Email" type="email" name="email" placeholder="Email" autocomplete="off" class="field email">
                    <input asp-for="AnonName" type="text" name="name" placeholder="Имя" autocomplete="off" class="field email">
                }

                <input type="submit" value="Пост" class="field submit" id="submit">
                <input asp-for="BoardId" type="hidden" value="@ViewBag.Board.BoardId">
                <input asp-for="AnonIpHash" type="hidden" value="@ViewBag.UserIp">

                if (ViewBag.Board.HasSubject)
                {
                    <input asp-for="Subject" type="text" name="subject" placeholder="Тема" autocomplete="off" class="field">
                }
                <textarea asp-for="Comment" class="field comment" placeholder="( . .)φ__"></textarea>
                if (ViewBag.Board.FilesAreAllowed)
                {
                    <input type="file" name="files" id="files" multiple class="field">
                }
            }
        </div>
    }
    <div class="functional-menu">
        <a asp-controller="MainPage" asp-action="Main">Главная</a>
        <a asp-controller="Board" asp-action="Search" asp-route-prefix="@ViewBag.Board.Prefix">Поиск</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Admin" asp-action="Panel">Управление</a>
        }
    </div>
    <div class="threads">
        @foreach (var item in ViewBag.BoardViewModel)
        {
            ViewBag.Thread = item.Key;
            ViewBag.PostFiles = item.Value;
            @foreach (var postFiles in ViewBag.PostFiles)
            {
                ViewBag.Post = postFiles.Key;
                ViewBag.Files = postFiles.Value;
                <span id="@ViewBag.Thread.ThreadId">
                    <article>
                        <div class="thread-header">
                            @{
                                if (!string.IsNullOrEmpty(ViewBag.Post.Subject))
                                {
                                    <span class="subject">
                                        @ViewBag.Post.Subject
                                    </span>
                                }
                                if (ViewBag.Post.AnonIpHash == ViewBag.UserIpHash)
                                {
                                    <span class="your-thread">
                                    </span>
                                }
                                if (!string.IsNullOrEmpty(ViewBag.Post.Email) && !string.IsNullOrEmpty(ViewBag.Post.AnonName))
                                {
                                    <span class="name">
                                        <a href="mailto:@ViewBag.FirstPost.Email">
                                            @ViewBag.Post.AnonName
                                        </a>
                                    </span>
                                }
                                else if (!string.IsNullOrEmpty(ViewBag.Post.AnonName))
                                {
                                    <span class="name">
                                        @ViewBag.Post.AnonName
                                    </span>
                                }
                                if (ViewBag.Post.AnonIpHash == ViewBag.Thread.OpIpHash)
                                {
                                    <span style="color: green; ">
                                        #OP
                                    </span>
                                }
                                if (IpCheck.IpBelongsToAdmin(ViewBag.Post.AnonIpHash, AdminCollection.Admins, out Admin admin))
                                {
                                    @admin.Login
                                }
                                <i></i>
                                @DateTimeOffset.FromUnixTimeSeconds(ViewBag.Post.TimeInUnixSeconds).DateTime
                                <i></i>
                                <a href="/Thread/Thread/@ViewBag.Post.ThreadId#@ViewBag.Post.PostId" class="post-link">#@ViewBag.Post.ThreadId</a>
                                <div class="dropdown">
                                    @{ ViewBag.Id += 1; }
                                    <a style="padding: 4px;">
                                        Ответ
                                    </a>
                                    <button class="optionsButton" id="optionsButton-@ViewBag.Id">▶</button>
                                    <div class="optionsList" id="optionsList-@ViewBag.Id">
                                        <a asp-controller="Report" asp-action="Report" asp-route-postId="@ViewBag.Post.PostId" style="padding-left: 4px;">
                                            Репорт
                                        </a>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <br>
                                            <a class="deletePost" id="deleteLink-@ViewBag.Id" style="padding: 4px;">
                                                Удалить пост
                                            </a>
                                            <input class="deleteInput" id="deleteInput-@ViewBag.Id" type="hidden" value="@ViewBag.Post.PostId">
                                            <br>
                                            <a class="open-button" id="open-button-@ViewBag.Id" style="padding-left: 4px;">
                                                Забанить
                                            </a>
                                            <div class="form-popup form-container" id="myForm-@ViewBag.Id">
                                                <button type="button" class="close-button" id="close-button-@ViewBag.Id">X</button>
                                                <h1 class="popup-title"> (。U ω U。) Причина</h1>
                                                <textarea class="report-reason" id="report-reason-@ViewBag.Id" required></textarea>
                                                <div class="popup-banTime">
                                                    Окончанние бана:
                                                    <input type="text" class="banCalendar" id="banCalendar-@ViewBag.Id" required>
                                                </div>
                                                <input type="hidden" class="banIpHash" id="banIpHash-@ViewBag.Id" value="@ViewBag.Post.AnonIpHash">
                                                <button type="submit" class="report-btn" id="report-btn-@ViewBag.Id">Забанить</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                                if (ViewBag.Post.IsPinned)
                                {
                                    <img src="/images/pinned.png" alt="pinned.png">
                                }
                                if (ViewBag.Thread.IsClosed)
                                {
                                    <img src="/images/closed.png" alt="closed.png">
                                }
                                foreach (var file in ViewBag.Files)
                                {
                                    <figure>
                                        <figcaption>
                                            <a href="/images/@file.FileName" title="@file.FileName" target="_blank">
                                                @file.ThumbnailName
                                            </a>
                                            <br>
                                            @file.Info
                                        </figcaption>
                                        <a href="/images/@file.FileName" target="_blank">
                                            <img src="/thumbnails/@file.ThumbnailName" alt="@file.ThumbnailName">
                                        </a>
                                    </figure>
                                }
                                <div class="comment">
                                    <span style="white-space: pre-line">@Html.Raw(ViewBag.Post.Comment)</span>
                                </div>
                            }
                        </div>
                    </article>
                    <br>
                </span>
            }
        }
    </div>
    @if (ViewBag.PageInfo.TotalPages > 1)
    {
        <div class="pages-num">
            @for (var i = 1; i <= ViewBag.PageInfo.TotalPages; i++)
            {
                <a asp-action="Board" asp-route-prefix="@ViewBag.Board.Prefix" asp-route-page="@i">
                    @i
                </a>
            }
        </div>
    }
</section>
<input type="hidden" value="@ViewBag.FileLimit" id="fileLimit">
<input type="hidden" value="@ViewBag.Board.Prefix" id="boardPrefix">
<input type="hidden" value="@ViewBag.Page" id="page">
<input type="hidden" value="@ViewBag.ThreadCount" id="threadCount">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js" integrity="sha512-s5u/JBtkPg+Ff2WEr49/cJsod95UgLHbC00N/GglqdQuLnYhALncz8ZHiW/LxDRGduijLKzeYb7Aal9h3codZA==" crossorigin="anonymous"></script>

@if (User.Identity.IsAuthenticated)
{
    <script src="/js/moderation.js"></script>
    <script src="/js/banPopup.js"></script>
    <script src="/js/datepicker.js"></script>
}
<script src="/js/formValidation.js"></script>
<script src="/js/postMenuPopup.js"></script>
</body>